@font-face {
    font-family: "Circe";
    font-display: swap;
    src: local("Circe-Bold"), local("Circe-Bold"),
      url("./fonts/Circe-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "EuclidCircular";
    font-display: swap;
    src: local("EuclidCircularA-Bold"), local("EuclidCircularA-Bold"),
      url("./fonts/EuclidCircularA-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "EuclidCircular";
    font-display: swap;
    src: local("EuclidCircularA-Light"), local("EuclidCircularA-Light"),
      url("./fonts/EuclidCircularA-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "EuclidCircular";
    font-display: swap;
    src: local("EuclidCircularA-SemiBold"), local("EuclidCircularA-SemiBold"),
      url("./fonts/EuclidCircularA-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "Roboto";
    font-display: swap;
    src: local("Roboto-Black"), local("Roboto-Black"),
      url("./fonts/Roboto-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: "Roboto";
    font-display: swap;
    src: local("Roboto-Bold"), local("Roboto-Bold"),
      url("./fonts/Roboto-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Roboto";
    font-display: swap;
    src: local("Roboto-Light"), local("Roboto-Light"),
      url("./fonts/Roboto-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "Roboto";
    font-display: swap;
    src: local("Roboto-Regular"), local("Roboto-Regular"),
      url("./fonts/Roboto-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Roboto";
    font-display: swap;
    src: local("Roboto-Thin"), local("Roboto-Thin"),
      url("./fonts/Roboto-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: "Rubik One";
    font-display: swap;
    src: local("RubikOne-Regular"), local("RubikOne-Regular"),
      url("./fonts/RubikOne-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
  }